<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">


        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

            {% stylesheets '@LLBarterBundle/Resources/public/css/bootstrap.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
            {% stylesheets '@LLBarterBundle/Resources/public/css/scrolling-nav.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}

            {% javascripts '@LLBarterBundle/Resources/public/js/jquery-2.1.4.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}


        <title>{% block title %}Barter{% endblock %}</title>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {% block navbar %}
            <style>
                body{margin-top: 100px;}
            </style>
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="{{ path('index')}}">Accueil</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>

                            <li>
                                <p class="navbar-btn">
                                    <a href="#" class="btn btn-default">Rechercher</a>
                                </p>
                            </li>
                            <p class="navbar-text">ou</p>
                            <li>
                                <p class="navbar-btn">
                                    <a href="{{ path('add')}}" class="btn btn-default">Poster une offre</a>
                                </p>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Guillaume <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><u>Compte gratuit</u></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Mon profil</a></li>
                                    <li><a href="#">Mes offres</a></li>
                                    <li><a href="#">Mes favoris</a></li>
                                    <li><a href="#">Notes et commentaires</a></li>
                                    <li><a href="#">Paramètres</a></li>
                                    <li><a href="#">Déconnexion</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-anchor"></i> 5000 B€ <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">5000 B€</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Voir les transactions</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="page-scroll" href="#contact"><i class="fa fa-question"></i> Centre d'aide</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        {% endblock %}
        {% block fullbody %}
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}


            {% javascripts '@LLBarterBundle/Resources/public/js/bootstrap.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@LLBarterBundle/Resources/public/js/jquery.easing.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@LLBarterBundle/Resources/public/js/scrolling-nav.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}

    </body>

</html>

